/*
	# = ids
	. = clases 
*/

#imgCabecera{
	width: 80px;
	height: 100px;
	margin-top: -50px;
	
}

#txt1Cabecera{
	margin-top: -100px;
	margin-left: 130px;
	font: bold 200% sans-serif;
	font-size: 35px;
}

#txt2Cabecera{
	margin-top: 0px;
	margin-left: 190px;
	font: condensed 150% sans-serif;
	font-size: 17px;
}

#txt3Cabecera{
	margin-top: 50px;
	margin-left: 0px;
	font: condensed 150% sans-serif;
	font-size: 15px;
}

#txt4Cabecera{
	margin-top: -55px;
	margin-left: 400px;
	font: bold 150% sans-serif;
	font-size: 14px;
}

#txt5Cabecera{
	margin-top: -33px;
	margin-left: 550px;
	font: condensed 150% sans-serif;
	font-size: 14px;
}


#salto{
	margin-top: -95px;
}

.contenedor{
	border: 1px solid;
	
}

.titulo{
	background-color: #19DAF9;
	border-bottom: 1px;	
}


.tableHead{
	background-color: #42BACD;
	padding: 2px;
	border: 1px solid;
}

.table{
	padding: 15px;
	border-spacing: 0;
}

.td{
	border: 1px solid;
	padding: 5px;
}

#imgPerfil{
	width: 230px;
	height: 250px;
	padding: 15px;
	
}

#datosPersonales1{	
	margin-top: -260px;
	margin-left: 310px;
}

#datosPersonales2{	
	margin-left: 34px;
	margin-top: -220px;
}

#datosPersonales3{		
	margin-left: 24px;
	margin-top: 100px;
	
}


.inputStyle{	
	margin-top : -2px;
	margin-left : 0px;
	font-size: 15px;
	padding: 1px;
}

.title1{
	font-weight: bold;
	padding-bottom: 1px;
	
}

.title2{
	margin-top: -20px;
	margin-left: 160px;
	
}

.resp1{
	margin-top: -16px;
	margin-left: 200px;
}

/*datos personales 2*/

.title3{
	margin-left: -15px;
	margin-top: 2px;
	font-weight: bold;
}

.title4{
	margin-left: 64px;
	margin-top: -18px;
	
}

.resp2{
	margin-left: 110px;
	margin-top: -19px;
}


/*datos personales 3*/

.title5{
	font-weight: bold;
	padding-bottom: 2px;
}

.title6{
	margin-left: 215px;
	margin-top: -18px;	
	padding-bottom: 2px;
}

.resp3{
	margin-left: 260px;
	margin-top: -20px;
	padding-bottom: 2px;
}


/*info bomberil*/

.inputStyle2{	
	border:none; 
	background-color: #FFFFFF;
	font-size: 15px;
	padding: 1px;
	color: #000000;
}

#informacionBomberil1{	
	padding: 5px;
	margin-top: 10px;
	margin-left: 10px;
}

.title7{
	font-weight: bold;
}

.title8{
	margin-left: 120px;
	margin-top: -18px;	
}

.resp4{	
	margin-left: 150px;
	margin-top: -35px;	
}



#informacionBomberil2{	
	margin-top: -74px;
	margin-left: 350px;
}

.title9{
	font-weight: bold;
}

.title10{
	margin-top: -20px;
	margin-left: 90px;
}

.resp5{
	margin-top: -33px;
	margin-left: 120px;
}


/*Info personal*/

#informacionPersonal{	
	margin-top: 20px;
	padding: 5px;
	margin-left: 20px;
}

.title11{
	font-weight: bold;
	padding-top: 2px;
}

.title12{
	margin-left: 160px;
	margin-top: -20px;
	padding-top: 2px;
}

.resp6{
	margin-left: 200px;
	margin-top: -39px;
	padding-top: 2px;
}

/*Info Medica*/

#informacionMedica1{	
	padding: 5px;
	margin-left: 15px;
	margin-top: 15px;
}

#informacionMedica2{
	padding: 30px;
	margin-top: -160px;
	margin-left: 360px;
}

.title13{
	font-weight: bold;
	padding-top: 4px;
	
	}

.title14{
	margin-left: 180px;
	margin-top: -22px;
	padding-top: 4px;
}

.resp7{
	margin-left: 220px;
	margin-top: -41px;
	padding-top: 4px;
}

.title15{
	font-weight: bold;
	padding-top: 4px;
}

.title16{	
	margin-left: 130px;
	margin-top: -22px;
	padding-top: 4px;
}

.resp8{
	margin-left: 160px;
	margin-top: -40px;
	padding-top: 4px;
}

/*DATOS DE DESPACHO*/

#t1{	
	margin-left: 30px;
	margin-top: 5px;
	font-weight: bold;
	padding-top: 5px;
}

#t2{	
	margin-left: 90px;
	margin-top: -23px;
	font-weight: bold;
	padding-top: 5px;
}

#r1{	
	margin-left: 110px;
	margin-top: -40px;
	padding-top: 5px;
}

#t3{	
	margin-left: 240px;
	margin-top: -40px;
	font-weight: bold;
	padding-top: 5px;
}

#t4{	
	margin-left: 280px;
	margin-top: -24px;
	font-weight: bold;
	padding-top: 5px;
}

#r2{	
	margin-left: 300px;
	margin-top: -40px;
	padding-top: 5px;
}

#t5{	
	margin-left: 410px;
	margin-top: -41px;
	font-weight: bold;
	padding-top: 5px;
}

#t6{	
	margin-left: 470px;
	margin-top: -24px;
	font-weight: bold;
	padding-top: 5px;
}

#r3{	
	margin-left: 480px;
	margin-top: -40px;
	padding-top: 5px;
}

#t7{	
	margin-left: 30px;
	margin-top: 10px;
	font-weight: bold;
	padding-top: 5px;
}

#t8{	
	margin-left: 95px;
	margin-top: -24px;
	font-weight: bold;
	padding-top: 5px;
}

#r4{	
	margin-left: 110px;
	margin-top: -40px;
	padding-top: 5px;
}

#t9{	
	margin-left: 30px;
	margin-top: 10px;
	font-weight: bold;
	padding-top: 5px;
}

#t10{	
	margin-left: 95px;
	margin-top: -24px;
	font-weight: bold;
	padding-top: 5px;
}

#r5{	
	margin-left: 110px;
	margin-top: -40px;
	padding-top: 5px;
}

#t11{	
	margin-left: 320px;
	margin-top: -40px;
	font-weight: bold;
	padding-top: 5px;
}

#t12{	
	margin-left: 390px;
	margin-top: -24px;
	font-weight: bold;
	padding-top: 5px;
}

#r6{	
	margin-left: 410px;
	margin-top: -40px;
	padding-top: 5px;
}

#t13{	
	margin-left: 30px;
	margin-top: 10px;
	font-weight: bold;
	padding-top: 5px;
}

#t14{	
	margin-left: 95px;
	margin-top: -24px;
	font-weight: bold;
	padding-top: 5px;
}

#r7{	
	margin-left: 110px;
	margin-top: -40px;
	padding-top: 5px;
}

#t15{	
	margin-left: 320px;
	margin-top: -40px;
	font-weight: bold;
	padding-top: 5px;
}

#t16{	
	margin-left: 435px;
	margin-top: -24px;
	font-weight: bold;
	padding-top: 5px;
}

#r8{	
	margin-left: 450px;
	margin-top: -40px;
	padding-top: 5px;
}

#t17{	
	margin-left: 30px;
	margin-top: 10px;
	font-weight: bold;
	padding-top: 5px;
}

#t18{	
	margin-left: 95px;
	margin-top: -24px;
	font-weight: bold;
	padding-top: 5px;
}

#r9{	
	margin-left: 110px;
	margin-top: -40px;
	padding-top: 5px;
}

#r10{	
	font-weight: inherit;
	padding: 5px;
}